model_epoch_02.h5 filter=lfs diff=lfs merge=lfs -text
model_epoch_06.h5 filter=lfs diff=lfs merge=lfs -text
model_epoch_03[[:space:]](1).h5 filter=lfs diff=lfs merge=lfs -text
model_epoch_05[[:space:]](1).h5 filter=lfs diff=lfs merge=lfs -text
